build/

# Object files
*.o
*.lib
*.so
*.lo
*.la
*.pyc

# Temp files
*.swp
*.swo
*~

cscope.files
cscope.out
tags

# npmpub files
src/mraajsJAVASCRIPT_wrap.cxx
src/version.c
package.json
binding.gyp
READMEFIRST
npm-debug.log

#dpkg-buildpackage files
obj-*
debian/mraa
debian/mraa*
