build/

# Object files
*.o
*.lib
*.so.*
*.so
*.lo
*.la
*.pyc

# Temp files
*.swp
*.swo
*~

# npmpub files
src/mraajsJAVASCRIPT_wrap.cxx
src/version.c
package.json
binding.gyp
READMEFIRST
npm-debug.log

# lua files
src/lua/mraaLUA_wrap.cxx

# CMake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Gen files
arch.c
src/mraa.pc
