version: '2.1'

services:

  base:
    image: mraa-base
    build:
      context: .
      dockerfile: docker/Dockerfile.base
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    environment:
      - http_proxy
      - https_proxy
      - no_proxy
      - BUILDDOC=${BUILDDOC:-OFF}
      - BUILDSWIG=${BUILDSWIG:-OFF}
      - BUILDSWIGPYTHON=${BUILDSWIGPYTHON:-OFF}
      - BUILDTESTS=${BUILDTESTS:-ON}
      - USEPYTHON3TESTS=${USEPYTHON3TESTS:-OFF}
      - BUILDSWIGJAVA=${BUILDSWIGJAVA:-OFF}
      - BUILDSWIGNODE=${BUILDSWIGNODE:-OFF}
      - USBPLAT=${USBPLAT:-OFF}
      - FIRMATA=${FIRMATA:-OFF}
      - ONEWIRE=${ONEWIRE:-ON}
      - JSONPLAT=${JSONPLAT:-OFF}
      - IMRAA=${IMRAA:-OFF}
      - FTDI4222=${FTDI4222:-OFF}
      - IPK=${IPK:-OFF}
      - RPM=${RPM:-OFF}
      - ENABLEEXAMPLES=${ENABLEEXAMPLES:-ON}
      - INSTALLGPIOTOOL=${INSTALLGPIOTOOL:-OFF}
      - INSTALLTOOLS=${INSTALLTOOLS:-ON}
      - CC=${CC:-clang-3.8}
      - CXX=${CXX:-clang++-3.8}
      - BUILDARCH=${BUILDARCH}
    volumes:
      - .:${MRAA_SRC_DIR:-/usr/src/app}

  doc:
    extends: base
    environment:
      - BUILDDOC=ON
    command: bash -c "./scripts/run-cmake.sh && make -Cbuild doc"

  sonar-scan:
    extends: base
    image: mraa-sonar
    build:
      dockerfile: docker/Dockerfile.sonar
      args:
        - NODE_VERSION=v5.12.0
    environment:
      - BUILDSWIG=ON
      - BUILDSWIGPYTHON=ON
      - BUILDSWIGNODE=ON
      - BUILDSWIGJAVA=ON
      - ONEWIRE=ON
      - JSONPLAT=ON
      - SONAR_TOKEN
      - SONAR_ORG
      - SONAR_PROJ_KEY
      - TRAVIS_BRANCH
      - TRAVIS_PULL_REQUEST
      - TRAVIS_REPO_SLUG
      - TRAVIS_PULL_REQUEST_SLUG
      - GITHUB_TOKEN
    command: bash -c "./scripts/run-cmake.sh && cd build && ./../scripts/sonar-scan.sh"

  python2:
    extends: base
    image: mraa-python
    build:
      dockerfile: docker/Dockerfile.python
    environment:
      - BUILDSWIG=ON
      - BUILDSWIGPYTHON=ON
      - BUILDTESTS=ON
    command: bash -c "./scripts/run-cmake.sh && cd build && make _python2-mraa && ctest --output-on-failure"

  python3:
    extends: python2
    environment:
      - USEPYTHON3TESTS=ON
    command: bash -c "./scripts/run-cmake.sh && cd build && make _python3-mraa && ctest --output-on-failure"

  java:
    extends: base
    image: mraa-java
    build:
      dockerfile: docker/Dockerfile.java
    environment:
      - BUILDSWIG=ON
      - BUILDSWIGJAVA=ON
    command: bash -c "./scripts/run-cmake.sh && cd build && make mraajava && ctest --output-on-failure"

  android:
    extends: java
    image: mraa-android
    build:
      dockerfile: docker/Dockerfile.android
    environment:
      - BUILDARCH=PERIPHERALMAN
    command: bash -c "./scripts/build-android.sh"

  node4:
    extends: base
    image: mraa-node4
    build:
      dockerfile: docker/Dockerfile.node
      args:
         - NODE_VERSION=v4.4.7
    environment:
      - BUILDSWIG=ON
      - BUILDSWIGNODE=ON
    command: bash -c "./scripts/run-cmake.sh && make -Cbuild npmpkg && node-gyp configure && node-gyp build && npm test"

  node5:
    extends: node4
    image: mraa-node5
    build:
      args:
        - NODE_VERSION=v5.12.0
