name: Build
on: [push]
jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            runs_on: ubuntu-latest
          - arch: arm64
            runs_on: ubuntu-24.04-arm
    runs-on: ${{ matrix.runs_on }}
    steps:
      - uses: actions/checkout@v5
      - name: Install depdencies.
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build build-essential python3-dev libnode-dev swig libjson-c-dev git
      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DBUILDSWIGNODE=on ../
          ninja